.popular-packages__ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.popular-packages__li{
  list-style: none;
  margin: 0 15px 0 0;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  flex: 1 1 235px;
  border: 4px solid $grey-light;
  text-align: center;
}

.popular-packages__li:last-child{
  margin-right: 0;
}

.popular-packages__title{
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 60px;
}

.popular-packages__starting-at{
  color: $blue;
  font-size: 14px;
  margin-bottom: 15px;
}

.popular-packages__price{
  color: $blue;
  font-size: 48px;
  margin-bottom: 13px;
}

.popular-packages__per-user-year{
  color: $blue;
  font-size: 14px;
  margin-bottom: 23px;
}

.popular-packages__list{
  margin: 0;
  padding: 0;
}

.popular-packages__list-item{
  margin-bottom: 35px;
  list-style: disc inside;
  font-size: 16px;
}

.popular-packages__button-container{
  margin-bottom: 10px;
}



@media (max-width: 1200px) {

  .popular-packages__li {
    flex: 1 1 205px;
  }

}

@media ( max-width: 992px ) {

  .popular-packages__li {
    flex: 1 1 148px;
    position: relative;
  }

  .popular-packages__button{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
  }

}

@media ( max-width: 768px ) {

  .popular-packages__li {
    flex: 1 1 137px;
  }

}

@media ( max-width: 750px ) {

  .popular-packages__li {
    flex: 1 1 200px;
    margin-bottom: 20px;
  }

  .popular-packages__li:nth-child(2n){
    margin-right: 0;
  }

}

@media ( max-width: 576px ) {

  .popular-packages__ul{
    flex-direction: column;
  }

  .popular-packages__li{
    margin-right: 0;
  }

}