.features{
  margin-bottom: 70px;
}

.features__ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features__li{
  list-style: none;
  padding: 0;
  margin: 0 55px 0 55px;
  flex: 1;
  text-align: center;
}

.features__title{
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 15px;
}

.features__p{
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {

  .features__li {
    margin: 0 35px 0 35px;
  }

  .features__title{
    min-height: 64px;
  }

}

@media ( max-width: 768px ) {



}

@media ( max-width: 576px ) {

  .features__ul{
    flex-direction: column;
  }

  .features__li {
    text-align: left;
    margin: 0;
  }

  .features__title{
    text-align: left;
    height: auto;
  }

  .features__p{
    padding-left: 80px;
  }

}