.integrated-software__ul{
  background: $grey;
  width: 764px;
  margin: 0 auto 0 auto;
  padding: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between ;
  flex-wrap: wrap;
}

.integrated-software__li{
  list-style: none;
  margin: 22px 37px 22px 37px;
  flex-basis: 117px;
}

.integrated-software__icon{
  display: block;
  text-align: center;
}

.integrated-software__title{
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 768px ) {

  .integrated-software__ul {
    width: 100%;
  }

  .integrated-software__li{
    margin: 22px 30px 22px 30px;
  }

}

@media ( max-width: 576px ) {

  .integrated-software__ul {
    width: 100%;
  }

  .integrated-software__li{
    margin: 22px 30px 22px 30px;
  }

}