.main-header__button-container{
  flex: 0 0 108px;
  width: 108px;
}

.main-header__button{
  display: block;
  width: 100%;
}

@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {

  .main-header__button{
    display: none;
  }

}

@media ( max-width: 768px ) {



}

@media ( max-width: 576px ) {



}