$font-family: 'Open Sans';

$black: #000;
$white: #fff;
$green: #81D100;
$light-green: #87d30d;
$red: #d03b40;
$red-light: #db5155;
$grey: #f5f5f5;
$grey-light: #ededed;
$grey-dark: #4a4a4a;
$grey-middle: #9b9b9b;
$blue: #71a9b1;
$blue-light: #81b6be;

$table-hover-green: #f3fce5;
$search-grey: #f2f2f2;
$table-odd-grey: #FAFAFA;
$table-border: #F0F0F0;



$box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
$hover-box-shadow: 0px 0px 15px rgba(0,0,0,0.17);
$hover-box-shadow-dark: 0px 0px 15px rgba(0,0,0,0.27);
$table-head-shadow: 0px 3px 6px rgba(0,0,0,0.1);
$hover-box-shadow-white: 0px 0px 15px rgba(255,255,255,0.5);


/* delay for mouseOver */
$transition-delay-before: 0.3s;
$transition-delay-after: 0s;

$transition-button: all ease-in 0.1s;